{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/snooozeworks.myshopify.com/products/configure/221709/edit
{% endcomment %}
{% if product.metafields.custom_fields["subtitle"] != blank %}
  <div class="custom-field custom-field__subtitle custom-field__type--text">
    <h3 class="custom-field--title">Subtitle</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["subtitle"] }}
    </div>
  </div>
{% endif %}