<div class="patent_bullet-points">
  <div class="bullet-points_title">
    Key Features:
  </div>
  <ul>
    <li>Original <b style="color: #ef0034;">Digitally-Remastered</b> Patent Artwork</li>
    <li><b style="color: #ef0034;">Premium</b>&nbsp;Heavy-Weight Fine-Art Paper with Satin Finish</li>
    <li>Fast Shipping and <b style="color: #ef0034;">Easy</b> 30-Day Returns</li>
  </ul>
</div>
