<div class="ProductInfo__Features">
  <div class="ProductInfo__Features-Title">DETAILS</div>
  
    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>Premium Artwork</b> | Our printing process has been developed so that each of our posters feature crisp and vibrant visuals</div>

    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>Excellent Gift</b> | This poster makes a great conversational piece for any gaming room or office. Perfect for framing or to hang as-is!</div>
  
    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>Multiple Sizes</b> | Available in various sizes, so you can choose the perfect dimensions to suit your space and preferences.</div>
  
    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>Shop with Confidence</b> | As always, Free Shipping on all Posters and an easy 30-Day Return Policy</div>
  
</div>


<!-- View more from this category link -->

{% if product.metafields.snoooze.category_url != blank %}
  <div class="ProductMeta__Category">
    <a href="{{ product.metafields.snoooze.category_url }}"><span id="ProductMeta__Category-Title">View more from this Collection</span></a>
  </div>
  {% else %}
{% endif %}
