<div class="ProductInfo__Features">
  <div class="ProductInfo__Features-Title">DETAILS</div>

    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>651 Oracle</b> Glossy Vinyl; 2.5 mil Outdoor-Rated</div>
      
    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>High-Quality</b> Die-Cut Design, using Professional Vinyl Plotter</div>
      
    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content">All sizes are listed in Inches, unless otherwise noted.</div>
      
    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content">Fast Shipping and <b>Easy</b> 30-Day Returns</div>

</div>

<!-- View more from this category link -->
  
{% if product.metafields.snoooze.category_url != blank %}
  <div class="ProductMeta__Category">
    <a href="{{ product.metafields.snoooze.category_url }}"
      ><span id="ProductMeta__Category-Title">View more from this Collection</span></a>
  </div>
  {% else %}
{% endif %}
