<div class="bullet-points">
  <div class="bullet-points_title">Key Features</div>
  <ul>
    <li> <b style="color: #ef0034;">Digitally-Remastered</b> from the original Patent Filing Artwork</li>
    <li><b style="color: #ef0034;">Premium</b> Ceramic Drinkware, with a Protective Gloss Finish</li>
    <li>Graphic Printed on <b style="color: #ef0034;">Both Sides</b> of the Mug</li>
    <li><b style="color: #ef0034;">Durable</b> and High-Quality. Both Dishwasher and Microwave Safe.</li>
    <li>Fast Shipping and <b style="color: #ef0034;">Easy</b> 30-Day Returns</li>
  </ul>
</div>

{% if product.metafields.snoooze.category_url != blank %}
  <div class="ProductMeta__Category">
    <a href="{{ product.metafields.snoooze.category_url }}"
      ><span id="ProductMeta__Category-Title">View more from this Collection</span></a>
  </div>

  {% else %}

{% endif %}
