<div class="ProductInfo__Features">
  <div class="ProductInfo__Features-Title">DETAILS</div>
  
    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>Digitally-Remastered</b> | Our designs are created from the original Patent Filing Artwork with meticulous care taken to restore the sharp linework</div>

    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>Premium Artwork</b> | Our printing process has been developed so each patent poster features clear and vibrant visuals</div>

    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>Multiple Sizes</b> | Available in various sizes and backgrounds, so you can choose the perfect style and dimensions to suit your space and preferences.</div>
    
    <div class="ProductInfo__Icon"><i class="fa-solid fa-check-square"></i></div>
    <div class="ProductInfo__Content"><b>Shop with Confidence</b> | As Always, Free Shipping on all Patent Posters and an Easy 30-Day Return Policy</div>
  
</div>

<!-- View more from this category link -->
  
{% if product.metafields.snoooze.category_url != blank %}
  <div class="ProductMeta__Category">
    <a href="{{ product.metafields.snoooze.category_url }}"
      ><span id="ProductMeta__Category-Title">View more from this Collection</span></a>
  </div>
  {% else %}
{% endif %}
