<div class="ProductInfo__Bullets">
  <div class="ProductInfo__Bullets-Title">Key Features</div>
  <ul>
    <li><i class="fa-solid fa-check"></i><b style="color: #ef0034;"> Premium</b> 260 GSM Fine-Art Photo Paper with Satin Finish, printed with Archival Inks</li>
    <li><i class="fa-solid fa-check"></i> Available in various sizes, so you can choose the <b style="color: #ef0034;">perfect</b> dimensions to suit your space and preferences.</li>
    <li><i class="fa-solid fa-check"></i><b style="color: #ef0034;"> Free</b> Shipping and Easy 30-Day Returns</li>
  </ul>
</div>

{% if product.metafields.snoooze.category_url != blank %}
  <div class="ProductMeta__Category">
    <a href="{{ product.metafields.snoooze.category_url }}"
      ><span id="ProductMeta__Category-Title">View more from this Collection</span></a>
  </div>

  {% else %}

{% endif %}
