{%- if section.settings.show_section -%}
<section id="section-{{ section.id }}">
  <div class="Container">
     <div class="Page_Content Page_Content--normal">        

      <div class="brand-red"></div>
              
    </div>
  </div>
</section>
{%- endif -%}

{% schema %}
{
  "name": "Brand Colors",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Section",
      "default": true
    }
  ]
}
{% endschema %}
{% stylesheet %}

.brand-red {
  width: 100px;
  height: 100px:
  border-radius: 50%;
  background: #ef3340;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
