{% render 'judgeme_core' %}

{%- if section.settings.show_section -%}

<div class="Container--narrow" style="margin: 0 auto;">
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
</div>

{%- endif -%}

{% schema %}
  {
    "name": "Judge.me Reviews",
    "settings": [    
	{
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    }]
  }
{% endschema %}

{% stylesheet %}
<style>
.jdgm-widget .jdgm-widget {
  float: right;
}
.jdgm-prev-badge__text::before {
  padding: 0px 5px;
  content: "|";
}
.jdgm-rev__title {
  padding: 10px 0;
}
.jdgm-rev-widg__title {
  display: none;
}
.jdgm-rev-widg__summary {
  display: none;
}
.jdgm-rev__author-wrapper {
  padding-bottom: 5px;
}
.jdgm-rev__header {
  text-align: center;
}
.jdgm-rev__body>p {
  text-align: justify;
}
.jdgm-ask-question-btn, .jdgm-write-rev-link {
  padding: 15px 25px !important;
}
.jdgm-histogram__bar-content {
  background: #EA3340 !important;
}
.jdgm-rev__thumb-btn:after {
  color: #EA3340 !important;
}
.jdgm-rev__thumb-btn:hover {
  color: #EA3340 !important;
}
.jdgm-rev-widg[data-number-of-reviews='0'] .jdgm-widget-actions-wrapper {
  float: none !important;
  text-align: center;
}
/* copy of button and button--primary to make review link uniform */
.jdgm-write-rev-link {
  position: relative;
  display: inline-block;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: to-size(12px);
  text-align: center;
  letter-spacing: 0.2em;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  font-style: $heading-font-style;
  background-color: transparent;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    }
  
  @if $show-button-transition {
  @media (-moz-touch-enabled: 0), (hover: hover) {
    &:not([disabled])::before {
      -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &:not([disabled]):hover::before {
      -webkit-transform-origin: right center;
      transform-origin: right center;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
    }
  }
}
  &[disabled] {
  cursor: not-allowed;
}
}
.jdgm-write-rev-link {
color: $button-text-color;
border-color: $button-background;
&::before {
  background-color: $button-background;
}

@if $show-button-transition {
  @media (-moz-touch-enabled: 0), (hover: hover) {
    &:not([disabled]):hover {
      @if ((contrast($button-background, $light-background) > 2.5) or ($button-text-color == $background)) {
        color: $button-background;
      } @else {
        color: $button-text-color;
        }
      	  background-color: transparent;
      }
  	}
  } 
}

@include av-mq ('lap-and-up'){
  .jdgm-preview-badge {
  	float: right;
  }
  #judgeme_product_reviews {
    padding: 0 80px;
  }
  .Judge__Reviews {
    padding: 0 80px;
    margin: 0 auto;
  }
}

@include av-mq ('tablet'){
  .jdgm-preview-badge {
    text-align: center;
  }
  .jdgm-rev__body>p {
    text-align: justify;
    margin-top: 5px;
 }
  #judgeme_product_reviews {
    padding: 0 20px;
  }
}

@include av-mq ('phone'){
  .jdgm-review-widget--medium .jdgm-histogram {
  	margin: 16px 0 !important;
  }
  .jdgm-widget-actions-wrapper {
 	float: none !important; 
  }
  .jdgm-histogram {
  	float: none !important;
    display: block;
    text-align: center !important;
  }
  .jdgm-histogram__bar {
    display: none !important;
  }
  .jdgm-histogram__row {
  	text-align: center !important;
	}
  .jdgm-histogram__percentage::before {
    padding: 0px 5px !important;
    content: "|" !important;
  }
  .jdgm-histogram__frequency {
    display: none !important;
  }
  .jdgm-sort-dropdown-wrapper {
    float: none !important;
    width: 100% !important;
    margin-top: 15px !important;
  }
  .jdgm-sort-dropdown {
    width: 100% !important;
  	padding: 5px 20px 5px 8px !important;
  }
  .jdgm-rev-widg__sort-wrapper {
  	display: block !important;
  	text-align: center !important;
  }
  .jdgm-preview-badge {
    text-align: center;
    padding: 10px 0;
  }
  .jdgm-preview-badge--with-link {
    padding: 10px 0px;
  }
  .jdgm-rev__body>p {
    text-align: justify;
    margin-top: 5px;
  } 
  .jdgm-ask-question-btn, .jdgm-write-rev-link {
	margin-bottom: 25px !important;
  }
}</style>
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
