{%- if section.settings.show_section -%}

<div class="Container">
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
</div>

{%- endif -%}

{% schema %}
  {
    "name": "Judge.Me Reviews",
    "settings": [    
	{
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
