<section id="section-{{ section.id }}">
  <div class="Container">
    <div class="Page_Content">
	  {%- if section.settings.title != blank -%}
  		<div class="SectionHeader--center" style="margin-bottom: 25px;">
    	  <h2 class="SectionHeader__Heading Heading u-h2">{{ section.settings.title | escape }}</h2>
  		</div>
      {%- endif -%}

	  {%- if section.settings.content != blank -%}
  		<div class="Rte">                   
   		 {{ section.settings.content }} 
  		</div>
	  {%- endif -%}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Page Content",
    "class": "shopify-section--bordered",
    "settings": [
    {
      	  "type": "color",
          "id": "background",
          "label": "Background Color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Section Header"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text area to tell your story.</p>"
        }
      ],
  "presets": [
    {
      "category": "Text",
      "name": "Page Content",
      "settings": {}
    } 
  ]
} 
{% endschema %}

{% stylesheet %}

<style>

  #section-{{ section.id }} .Container {
    margin: 0 auto;
    padding: 40px;
  }
  .Page_Content {
    max-width: 1000px;
    padding: 40px 25px;
    margin: 0 auto;
    text-align: justify;
    border-bottom: 1px #B1B1B1 solid;
  }
  .Page_Content:first-of-type {
    padding-top: 50px;
  }
  .Page_Content:last-of-type {
    padding-bottom: 50px;
    border-bottom: none;
  }
  
</style>

{% endstylesheet %}

{% javascript %}
{% endjavascript %}

