<section class="Section Section--spacingNormal Container--narrow" data-section-id="{{ section.id }}" data-section-type="map" data-section-settings='{{ section_settings }}'>
    
  {%- if section.settings.heading != blank -%}
  <div class="Section_H1 slideanim">{{ section.settings.heading | escape }}</div>   
  {%- endif -%}
      
  {%- if section.settings.subheading != blank -%}
  <div class="Section_Subtitle">{{ section.settings.subheading | escape }}</div>
  {%- endif -%}
    
    <div class="Section_Paragraph slideanim">
      <div id="map"></div>
    </div>

</section>

<script defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEYwCtBJ56Re3zx5_JK6ld4oNhewutw4M&map_ids=2ebec432ba8da0e7&callback=initMap">
</script>

{% schema %}
  {
    "name": "Map",
    "settings": [
	{
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Where to find us"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-Heading",
      "default": "We're located in the small coastal town of Dover, NH."
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

<script>

function initMap() {

  var snooozeWorks = {
    lat: 43.2020685,
    lng: -70.8763372
  };

  var map = new google.maps.Map(
    document.getElementById('map'), {
      zoom: 14,
      center: snooozeWorks,
      mapId: '2ebec432ba8da0e7',
      disableDefaultUI: true,
    });

  var marker = new google.maps.Marker({
    position: snooozeWorks,
    map: map
  });
}
  
</script>

{% endjavascript %}
