// Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap');

// Mega Menu Styling

.nav__heading {
  font-family: Poppins, san-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

.Link--megatitle {
  color: #ef3340 !important;
}

.Link--mega {
  color: #000;
}


.MegaMenu__Inner {
  justify-content: flex-start !important;
  max-width: 100%;
}

.MegaMenu__Item {
  margin: 20px 0;
  padding: 0 40px;
  min-width: 15%;
}

.MegaMenu__Item:first-of-type {
  border-right: 1px solid #ffffe1;
  padding-right: 80px;
  align-self: stretch;
  min-width: 10%;
  width: 15%;
}

.MegaMenu__Item:nth-of-type(2) {
  padding-left: 80px;
}

.MegaMenu__Item:nth-of-type(4) {
  flex-grow: 1;
}

// Hides all link events on Section Headers

nav .HorizontalList__Item .MegaMenu__Inner .MegaMenu__Item:nth-of-type(1) .MegaMenu__Title {
  cursor: default;
  pointer-events: none;
}

nav .HorizontalList__Item .MegaMenu__Inner .MegaMenu__Item:nth-of-type(2) .MegaMenu__Title {
  cursor: default;
  pointer-events: none;
}

nav .HorizontalList__Item .MegaMenu__Inner .MegaMenu__Item:nth-of-type(3) .MegaMenu__Title {
  cursor: default;
  pointer-events: none;
}

// Hides Browse All on Patents and Patent Mugs Menus

nav .HorizontalList__Item:first-of-type .MegaMenu__Inner .MegaMenu__Item:nth-of-type(3) .MegaMenu__Title {
  visibility: hidden;
}

nav .HorizontalList__Item:nth-of-type(3) .MegaMenu__Inner .MegaMenu__Item:nth-of-type(3) .MegaMenu__Title {
  visibility: hidden;
}