#widget-fave-html {
  margin-top: 10px;
  margin-bottom: 10px;
}
#widget-fave-html .ssw-fave-btn {
  width: 100%;
}
#widget-fave-html .ssw-fave-btn .ssw-fave-btn-content{
  width: 100%;
  line-height: 48px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: inherit;
  border-radius: 0;
  border: 1px solid #ef3340;
  color: #ef3340;
  font-weight: bold;
}

.ssw-widget-avg-rate-listing.ssw-stars.ssw-stars-large {
  margin-top: -10px;
}

.ssw-stars {
  padding: 0px 0; 
  line-height: 1;
}

.ssw-control-group.ssw-text-right input.btn.button {
  background: rgb(239 51 64);
}

input.btn.button {
  color: #fff;
}