<div class="Container">

    {%- if section.settings.heading != blank -%}
    
    <header class="SectionHeader SectionHeader--center">
        <div class="Container">
            <h1 class="SectionHeader__Heading Heading u-h2" style="font-size: 28px !important;">{{ page.title }}</h1>
        </div>
    </header>

    {%- endif -%}

  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  </div>
  
</div>
