<style>
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap');
  
/* Header Banners */

.Page_Container {
    width: 100%;
}

.PageHeader_Blog {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: 50% 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/2422/1433/files/blog_header.jpg?v=1606086200);
}

@include av-mq('phone') {
    .PageHeader_Blog {
        display: none;
    }
}

.PageHeader_Cart {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: 50% 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/2422/1433/files/cart-14134.jpg?v=1602539114);
}

.PageHeader_Contact {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: 50% 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/2422/1433/files/contact-1973441.jpg?v=1602539113);
}

.PageHeader_FAQ {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: 50% 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/2422/1433/files/question-mark-190814.jpg?v=1602539113);
}

.PageHeader_Resources {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: 50% 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/2422/1433/files/technology-collection.jpg?v=1602539114);
}

.PageHeader_Returns {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: 50% 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/2422/1433/files/tube_mockup_d0d1bf0e-8285-43f0-b2ff-99679ff061eb.jpg?v=1602539113);
}

.PageHeader_Story {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: 50% 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/2422/1433/files/pf-ab4e658e--vinyldecalcollections.jpg?v=1602539114);
}

.PageHeader_Account {
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: 50% 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/2422/1433/files/cart-14134.jpg?v=1602539114);
}


// Header Typography

.Page_Header_H1 {
    font-size: to-size(60px);
    font-family: Poppins;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px #000;
    color: #fff;
    z-index: -1;
}

.Page_Header_Subtitle {
    font-size: to-size(18px);
    font-family: $heading-font-family;
    text-align: center;
    letter-spacing: .5px;
    text-shadow: 1px 2px 2px #000;
    color: #fff;
    z-index: -1;
}

.Account_Header_Subtitle {
    font-size: to-size(18px);
    font-family: $heading-font-family;
    text-align: center;
    letter-spacing: .5px;
    text-shadow: 1px 2px 2px #000;
    color: #fff;
    z-index: -1;
}

@include av-mq('phone') {
    .Page_Header_H1 {
        font-size: 34px;
    }

    .Page_Header_Subtitle {
        display: none;
    }
}

// Sections

.PageSection_1 {
    background-color: #fff;
    padding: 55px 0;
}

.PageSection_2 {
    background-color: #f9f9f9;
    padding: 55px 0;
}

// Typography

.Section_H1 {
    font-size: to-size(25px);
    font-family: $heading-font-family;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding-bottom: 25px;
    color: #1F1F1E;
}

.Section_Subtitle {
    font-family: $text-font-family;
    font-size: to-size(16px);
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 2em;
    text-transform: none;
    color: #1F1F1E;
    font-weight: 400;
}

.Section_Subtitle a:hover {
    color: #1F1F1E;
    transition-duration: .75s;
}

.Section_Paragraph {
    padding: 0 100px;
    max-width: 1170px;
    margin: auto;
    padding-top: 25px;
    border-top: 1px solid rgba(50, 50, 50, .25);
}

.border--top {
    border-top: 1px solid rgba(50, 50, 50, .25);
}

.Section_Paragraph ol {
    list-style: none;
    counter-reset: counter;
}

.Section_Paragraph ol li {
    counter-increment: counter;
}

.Section_Paragraph ol li::before {
    content: counter(counter) ". ";
    font-weight: bold;
}

.Section_Text {
    font-family: $text-font-family;
    font-size: to-size(16px);
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 2em;
    color: #1F1F1E;
}

.Section_Text a:hover {
    color: #000;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}


@include av-mq('phone') {
    .Section_H1 {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .Section_Paragraph {
        padding: 0px 20px;
        text-align: justify;
        font-size: to-size(16px);
    }

    .Section_Text {
        font-size: to-size(16px);
    }

    #instagram {
        display: none;
    }
}

// Newsletter Section - Story Page

.Section_Paragraph .Form__Input {
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.Section_Paragraph .Form__Input:focus::placeholder {
    color: transparent;
}

.Section_Paragraph .Form__Submit {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@include av-mq('phone') {

    .Section_Paragraph .Form__Input {
        width: 100%;
    }

    .Section_Paragraph .Form__Submit {
        width: 100%;
    }
}

/**
 * ----------------------------------------------------------------------------
 * Slide Up Animation for Pages
 * ----------------------------------------------------------------------------
 */

.slideanim {
    visibility: hidden;
    visibility: visible\9;
    /*For old IE browsers IE6-8 */
}

.slideanim.slide {
    visibility: visible;
    animation: slide 1s;
}

.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
</style>

<div class="Page_Container">
  
  	<div class="PageHeader_Story">
    	<div class="Page_Header_H1">BRANDING</div>
      <div class="Page_Header_Subtitle">Our Official Brand Guide</div>
 	</div>
    
  <div class="PageSection_1">
      
    <div class="Section_H1 slideanim">Our Logo</div>
      <div class="Section_Paragraph slideanim">

        <p class="Section_Text" style="text-align: center;">
          
        	Please do not edit, distort, recolor, or reshape the SnooozeWorks logo.
          
        </p>
        
        <div style="text-align: center; margin-bottom: 15px;"><img src="https://cdn.shopify.com/s/files/1/2422/1433/files/snooozeworks_rect-red-png.png?v=1604700133" alt="SnooozeWorks Logo" /></div>
        
        <p class="Section_Text" style="text-align: center;"><a href="https://cdn.shopify.com/s/files/1/2422/1433/files/snooozeworks_rect-red-svg.svg?v=1604698898" target="_blank">SVG</a> | 
          	<a href="https://cdn.shopify.com/s/files/1/2422/1433/files/snooozeworks_rect-red-png.png?v=1604700133" target="_blank">PNG</a></p>

      </div>
  </div>

  <div class="PageSection_2">
    
    <style>
      .logo-container {
  		display: flex;
  		flex-wrap: wrap;
  		flex-direction: row;
  		justify-content: center;
  		align-content: center;
		}
	  .logo-item {
  		flex: 0 0 auto;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 100%;
		}
      }
    </style>
        
      
   <div class="Section_H1 slideanim">Alternate Logos</div>
      <div class="Section_Paragraph slideanim">
        <p class="Section_Text" style="text-align: center;">
          
        	Alternate logos are for use when our primary logo will not fit desired location.
          
        </p>

        <div class="logo-container">
        
           <div class="logo-item" style="text-align: center">
             <img src="https://cdn.shopify.com/s/files/1/2422/1433/files/snooozeworks_circle-red-png.png?v=1604700042" alt="SnooozeWorks Logo" width="350px" />
        	 <p class="Section_Text" style="text-align: center; margin-top: 20px;"><a href="https://cdn.shopify.com/s/files/1/2422/1433/files/snooozeworks-circle-red-svg.svg?v=1604697996" target="_blank">SVG</a> | 
          		<a href="https://cdn.shopify.com/s/files/1/2422/1433/files/snooozeworks_circle-red-png.png?v=1604700042" target="_blank">PNG</a></p>
    	   </div>
        
           <div class="logo-item" style="text-align: center">
             <img src="https://cdn.shopify.com/s/files/1/2422/1433/files/snooozeworks_square-red-png.png?v=1604700042" alt="SnooozeWorks Logo" width="350px" />
        	 <p class="Section_Text" style="text-align: center; margin-top: 20px;"><a href="https://cdn.shopify.com/s/files/1/2422/1433/files/snooozeworks-square-red-svg.svg?v=1604697995" target="_blank">SVG</a> | 
          		<a href="https://cdn.shopify.com/s/files/1/2422/1433/files/snooozeworks_square-red-png.png?v=1604700042" target="_blank">PNG</a></p>
           </div>
          
        </div>
      </div>
  </div>
  
  <div class="PageSection_1">
    
    <style>
      .brand-container {
  		display: flex;
  		flex-wrap: wrap;
  		flex-direction: row;
  		justify-content: center;
  		align-content: center;
		}
	  .brand-item {
  		flex: 0 0 auto;
        margin: 0 auto;
        padding-bottom: 20px;
		}
	  .brand-color {
  		font-size: 22px;
  		letter-spacing: 2px;
  		font-weight: 700;
        text-align: center;
		}
      .color-name {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .color-description {
        margin-top: 15px;
        text-align: center;
      }
    </style>
      
      <div class="Section_H1 slideanim">OUR COLORS</div>
      <div class="Section_Paragraph slideanim">        
          <p class="Section_Text" style="text-align: center;">
          
        	Brand Colors below -- Please do not alter
          
          </p>

        <div class="brand-container">
          <div class="brand-item">
	        <img src="https://cdn.shopify.com/s/files/1/2422/1433/files/EF3340.png?v=1604691299" width="200px" style="margin-bottom: 20px;" />
            <div class="brand-color">#EF3340</div>
            <div class="color-name">Imperial Red</div>
              <div class="color-description">Main Logo Color</div>
            </div>

        
          <div class="brand-item">
            <img src="https://cdn.shopify.com/s/files/1/2422/1433/files/EDF0ED.png?v=1604691299" width="200px" style="margin-bottom: 20px;"/>
            <div class="brand-color">#FFFEF1</div>
            <div class="color-name">Ivory</div>
                <div class="color-description">Main Logo Fill Color</div>
            </div>
        
          <div class="brand-item">
            <img src="https://cdn.shopify.com/s/files/1/2422/1433/files/1F1F1E.png?v=1604691299" width="200px" style="margin-bottom: 20px;"/>
            <div class="brand-color">#1F1F1E</div>
            <div class="color-name">Eerie Black</div>
              <div class="color-description">Headings and Body</div>
          </div>


        
          <div class="brand-item">
            <img src="https://cdn.shopify.com/s/files/1/2422/1433/files/F9F9F9.png?v=1604697269" width="200px" style="margin-bottom: 20px;"/>
            <div class="brand-color">#F9F9F9</div>
            <div class="color-name">Cultured</div>
                <div class="color-description">Background Color</div>
            </div>

        </div>
   
    </div>
  </div>
</div>
 