<div class="Page_Container">
  
  	<div class="PageHeader_Resources">
      <div class="Page_Header_H1">RESOURCES</div>
      <div class="Page_Header_Subtitle">Want to know what we use? Here you go!</div>
 	</div>
    
  <div class="PageSection_1">
      
    <div class="Section_H1">Website</div>
      <div class="Section_Paragraph">
        <p class="Section_Text">
          
          <b style="color: #373637;">Shopify</b> - Storefront / Business Management<br /><br />
            Shopify provides a wonderful platform for operating our storefront at snooozeworks.com. It's highly customizable, provides detailed financial reports, analytics, and customer information. It provides the customers with an easy and secure way to purchase our products. In addition to all the benefits that come along with Shopify, they also provide full hosting included in the monthly price. It's a total package to get our website operating securely, it's the best option out there.	
        </p>
        
      </div>
  </div>

  <div class="PageSection_2">
      
      <div class="Section_H1">Software Services</div>
      <div class="Section_Paragraph">
        <p class="Section_Text">
          
          <b style="color: #373637;">OmniSend</b> - Mailing List<br /><br />
            This is a new feature that we've been working on. We just introduced our newsletter, which right now is only available during checkout. OmniSend is a user-friendly and highly customizable mailing list service that gives us the options to send the right amount of emails to our subscribers. We didn't want to bombard people, so giving us the ability to limit our emails while still making them count was important.<br /><br />
          <b style="color: #373637;">Dropbox</b> - File Storage / Syncing Software<br /><br />
			Having access to all of our files is important, and Dropbox allows us to do that. No matter where we are in the world, we can access each and every version of our files quickly. It allows us to make changes on one computer, and them resume later on a different computer without having any extra steps in the middle. Equally as important is keeping a valuable backup of all our data. Each file is important, keeping them locally on a hard drive and in the cloud at Dropbox gives that extra bit of security.<br /><br />
          <b style="color: #373637;">Google Analytics</b> - File Storage / Syncing Software<br /><br />
            Advertising campaigns are boring. Let's be honest. Sifting through mountains of data, keywords, bid strategies, impressions, click-through-rates, conversion rates, can be quite mind-numbing. However, not much is more important to a business than properly utilizing an advertising budget. Google Analytics helps greatly in making quick work of analyzing your entire website, and advertising campaigns at the same time. 
        
        </p>
      </div>
  </div>
  
  <div class="PageSection_1">
      
      <div class="Section_H1">Applications</div>
      <div class="Section_Paragraph">
        <p class="Section_Text">

		  <b style="color: #373637;">Adobe Illustrator</b> - Product / Graphic Design<br /><br />
		    Illustrator is fun. It's brilliantly simple, and insanely complex, at the same time. Nearly all of our products are finished in Illustrator. It's also used widely for our website design, any graphics you see in newsletters, or on social media are usually created in Illustrator. It's the most utilized tool that we have in the box.	        <br /><br />
          <b style="color: #373637;">Adobe Photoshop</b> - Product / Web Design<br /><br />
		    All of our product photography, mockups, and a small amount of our website images are created, edited, or finished in Photoshop. The software has been around for decades, and it's so intuitive and easy to use that it's a no doubt it's the most popular photo-editing software on the market.        <br /><br />
          <b style="color: #373637;">Microsoft Excel</b> - Research / Documentation<br /><br />
		    Why else does anyone use Excel? It's great for compiling data on search keywords, financials, advertisement campaigns, and more. The ability to keep detailed records is an important aspect of any business, and Excel makes that fairly easy for us to do.
          
        </p>
    </div>
  </div>
  
    
  <div class="PageSection_2">
      
      <div class="Section_H1">Hardware</div>
      <div class="Section_Paragraph">
        <p class="Section_Text">
                              
          <b style="color: #373637;">Custom-Built PC</b> - Primary Workhorse<br /><br />
		    After spending years on Apple computers, I grew tired of constantly having to replace entire computers when they became a year or two old. I switched to PC, built my own computer, and now it's as easy as replacing a single part when I need a little bit more speed or power. Currently, the main computer in the office uses an Intel i7-7700k, EVGA GTX 1080ti FTW3, 32 GB of 3000Ghz RAM from Corsair.<br /><br />
          <b style="color: #373637;">Mirosoft SurfaceBook 2</b> - Secondary / Travel Computer<br /><br />
		    This computer has been an invaluable resource throughout the last year since it's release. Previously, I used a tablet from Wacom to digitally doodle. Now, in addition to having immense power to do graphic design tasks and more, it allows me to flip it around and draw directly onto my computer immediately. <br /><br />
          <b style="color: #373637;">Canon TA-20</b> - Wide Format Inkjet Printer<br /><br />
		    The Canon TA-20 is a recent additon to the printer market, and oh boy, it's a beast. Aall of the prints you receive are printed on this machine. Using the Lucia Ink System, and printing up to 24 inches wide, this printer crushes everything we throw at it. It does it quickly and with absolutely premium quality.<br /><br/ >
          <b style="color: #373637;">Sawgrass SG400</b> - Sublimation Printer<br /><br />
            The SG400 has revolutionized our Coffee Mug creation process. The premier sublimation printer for smaller commercial commerce, the SG400 creates some highly-detailed, spot-color accurate sublimation prints that have taken our Mugs to the next level.
        </p>
    </div>
  </div>
  
</div>
