<div class="Page_Container">
  
  	<div class="PageHeader_Returns">
    	<div class="Page_Header_H1">Returns</div>
      <div class="Page_Header_Subtitle">Returns are Easy. Lets take care of it.</div>
 	</div>
    
  <div class="PageSection_1">
      
    <div class="Section_H1">Have an issue?</div>
      <div class="Section_Paragraph">
        <p class="Section_Text">
        	We want you to be 100% satisfied with your purchase. Items in new condition can be returned or exchanged within 30 days of delivery. Please note that original shipping charges are non-refundable. If there was an error on our end (ie. damaged, lost in transit, etc), we'll make things right and your original shipping costs may be refundable.<br /><br />
        	If you need to send something back to us, follow the steps outlined below.
        </p>
      </div>
  </div>

  <div class="PageSection_2">
      
      <div class="Section_H1">Return Process</div>
      <div class="Section_Paragraph">
        
        <ol class="Section_Text">
          <li>Please <a href="https://snooozeworks.com/pages/contact">contact us</a> to arrange your exchange or return.</li>
          <li>Package up the items safely. Preferably in the original packaging.</li>
          <li>Include the packing slip that came with the order, or print a new one from your order details.</li>
          <li>Mail your return to:<br />
          	
            <span style="margin-left: 40px;">SnooozeWorks</span><br />
            <span style="margin-left: 40px;">Attn: Returns/Exchanges</span><br />
            <span style="margin-left: 40px;">2 Dover Street, Unit 301</span><br />
            <span style="margin-left: 40px;">Dover, NH 03820</span>

          </li>
          <li>Once your return is received, your new item(s) will be shipped to you at no additional cost, or we will issue you a refund.</li>
        </ol>
       
      </div>
  </div>
  
</div>
